/*

!.gitignore

!.config
.config/*

!.config/shortcuts.kksrc
!.config/nvim
.config/nvim/lazy-lock.json
!.config/firefox
!.config/fish
.config/fish/fish_variables
!.config/yazi

!Pictures
Pictures/*

!Pictures/Wallpapers
